.superior {
    padding-inline: 1.5rem;
    padding-top: 2rem;
    padding-top: 2rem;
    border-top: 0.3125rem;
    background-color: white;
}

.p1 {
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--Bright-Yellow);
    margin-bottom: 1rem;
}